a,
body,
br,
button,
canvas,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
label,
li,
nav,
ol,
option,
p,
select,
span,
svg,
title,
textarea,
ul {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
