@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

a,
body,
br,
button,
canvas,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
label,
li,
nav,
ol,
option,
p,
select,
span,
svg,
title,
textarea,
ul {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

:root {
	--spice-text: #abb2bf;
	--spice-main: #2e3440;
	--spice-main-soft: #3b4354;
	--spice-main-softer: #363d4c;
}

body {
	font-family: "Quicksand", sans-serif;
	background-color: var(--spice-main);
}
